In [1]:
import pandas as pd

# 1. Load the dataset
# Note: This specific dataset often uses semicolons (;) instead of commas (,) as separators.
# We will try loading it with a semicolon separator just in case.
df = pd.read_csv('student-mat.csv', sep=';') 
# If the above line gives an error or looks messy, try: df = pd.read_csv('student-mat.csv')

# 2. Display shape
print("Dataset Shape:", df.shape)

# 3. Preview first rows
print(df.head())

# 4. Check types
print(df.info())

Dataset Shape: (395, 1)
  school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0  GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mot...
1  GP,F,17,U,GT3,T,1,1,at_home,other,course,fathe...
2  GP,F,15,U,LE3,T,1,1,at_home,other,other,mother...
3  GP,F,15,U,GT3,T,4,2,health,services,home,mothe...
4  GP,F,16,U,GT3,T,3,3,other,other,home,father,1,...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 1 columns):
 #   Column                                                                                                                                                                                                                               Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                               --------------  -----
 0   school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3  395 non-null    object
dtypes: object(1)
memory usage: 1.6+ KB
None